{% extends "main.html.twig" %}
{% block content %}

<section>
	<div class="col-md-12">
		<p><a href="{{url_base}}">Home</a> > Recherche</p>
	</div>	
	<div class="col-md-12">
		<h1>Recherche :</h1>
	</div>
	{% include 'affLivre.html.twig' %}
</section>

{% endblock %}